:root {
    --primary-background-color: #003f3b;
    --primary-dark-background-color: #080808;
    --primary-span-color: #f46036;
    --primary--title-color: #fff;
    --primary-font-family: 'Livvic', sans-serif;
    --secondary-font-family: 'Quicksand', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

header {
    background-color: #003f3b;
    color: rgb(255, 255, 255);
    gap: 0.5rem;
    padding: 10px 0;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.navi, .setup {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.navi div {
    padding: 0 10px;
}

.setup div {
    padding: 0 10px;
}

.loginSignUp {
    a {
        text-decoration: none;
        font-family: var(--primary-font-family);
        color: var(--primary--title-color);
        font-weight: 700;
        font-size: 17px;
        line-height: 26px;
    }
    span {
        padding: 0 5px;
    }
}

section {
    height: 100%;
}

.intro {
    background-image: url(img/mainWeb.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    padding: 0 50px;
}

.signUp {
    background-color: rgb();
    height: 50vh;
}
.view-container {
    background: #dacda5;

}
.hero-section {
    position: relative;
}
.hero-section_background-container {
    background-image: url(../img/About/top-background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-color: #000;
    height: 76vh
}

.w-full{
    width: 100%;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.text-center{
    display: flex;
    justify-content: center;
   text-align: center;
}

.h1-bold {
    width: 100%;
    padding: 40px 20px 92px;
    color: #fff;
    position: relative;
    font-size: 58px;
}
span{
    color: #c7902b;
}
.h1-bold {
    top: 150px;
    left: 50%;
    position: absolute;
    padding: 0 125px;
    transform: translate(-50%,calc(50% - 96px));
}

/* .hero-section_bottom-container{
    display: block;
    position: relative;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.container{
    max-width: 1204px;
}
.bottom{
    padding-top: 48px;
    padding-bottom: 48px;
}
.justify-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.high-index-img{
    width: auto;
    position: absolute;
    top: -40px;
    left: 0;
    display: block;
} */
.commitment-section{
    padding-top: 100px;

}
.mx-auto{
    margin-left: auto;
    margin-right: auto;

}
.container{
    max-width: 1280px;
}
.commitment-section .title {
    margin: 0 auto;

}
.h3-bold {
    font-size: 32px;
    line-height: 46px;
    font-weight: 700;
}
.md\:w-3\/4 {
    width: 75%;
}
.text-center{
    text-align: center;
}
.p-0{
    padding: 0;
}
.justify-center{
    justify-content: center;
}
.flex-col{
    flex-direction: column;

}
.flex{
    display: flex;
}
.mt-5{
    margin-top: 1.25rem;
}
.m-auto{
    margin: auto;
}
.md\:items-center{
    align-items: center;
}
.basis-1\5{
    flex-basis: 20%;
}
.basis-4\5{
    flex-basis: 80%;
}
.h5-bold{
    font-size: 21px!important;
    line-height: 30px!important;
    font-weight: 700!important;
}
.text{
    padding: 38px;
}
.max-w{
    max-width: 50%;
}
.des {
    line-height: 30px;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.container {
    max-width: 1280px;
    width: 100%;
}
#milestone {
    width: 100%;
    padding: 10px 125px;
    margin: 50px 0;
}
.justify-between{
    justify-content: space-between;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-row{
    flex-direction: row;
}
.flex{
    display: flex;
}
.milestone-item {
    background: #6fd8ca;
    width: 23%;
    height: 232px;
    padding: 20px;
    text-align: center;
}
.justify-center{
    justify-content: center;
}
.items-start {
    align-items: flex-start;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-col{
    flex-direction: column;
}
.flex{
    display: flex;
}
.number {
    color: #f46036;
    font-size: 57px;
    
}
.milestone-item.flex.flex-col.flex-wrap.justify-center.items-start{
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-environment-section {
    padding: 50px 125px;
    background: black;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.container3 {
    max-width: 1280px;
}
.work-environment-section .h3-bold {
    color: #fff;
}
.gap-3{
    gap: 0.75rem;

}
.columns-3{
columns: 3;
}

.join-section {
    position: relative;
    height: 450px;
    background-image: url(../img/About/bottom-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.join-section .content {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%,calc(-50% - 50px));
    max-width: 582px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.p-3 {
    padding: 0.75rem 
}
.h2-bold {
    font-size: 48px!important;
    line-height: 60px!important;
}
.fix-m-top{
    margin-top: 1rem;
}
.join-section .content .main-btn {
    color: #fff;
    width: 137px;
    height: 38px;
    background: #003f3b;
    border-radius: 5px;
    padding: 8px 26px
}
.btn-bold-m {
    font-weight: 700!important;
    font-size: 13px;
}
.mt-5 {
    margin-top: 1.25rem;
}
/* experience-section*/
.p-top {
    padding-top: 20px;
    font-weight: 700!important;
}
.experience-section {
    padding: 0 125px;
}
.mx-auto{
    margin-right: auto;
    margin-left: auto;
}
.experience-section .experience-list {
    padding: 30px 0 80px;
}
.md\:flex-nowrap{
    flex-wrap: nowrap;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.mb-10{
    margin-bottom: 2.5rem;
}
.md\:w-5\/12{
    width: 40%;
}
.experience-section__background-item {
    padding-top: 58.61%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
.md\:w-6\/12 {
    width: 50%;
}
.md\:mt-0 {
    margin-top: 0;
}
.experience-section .experience-list .experience .text .body-1-regular {
    margin-top: 10px;
}
.text.w-full.mt-3.md\:mt-0.md\:w-6\/12{
    line-height: 26px;
    font-size: 17px!important;
}
.md\:text-right {
    text-align: right;
}
.md\:flex-nowrap {
    flex-wrap: nowrap;
}
.md\:flex-row-reverse {
    flex-direction: row-reverse;
}
.experience-section .experience-list .experience .text .body-1-regular button {
    margin-top: 18px;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

.footerImg {
    margin-bottom: -5px;
}

footer {
    height: 100%;
    background-color: var(--primary-background-color);
    padding: 0 15px;
    padding-bottom: 10px;
    color: #fff;
    .footer {
        padding-top: 50px;
        padding-bottom: 29px;
        display: flex;
        flex-direction: row;
        a {
            text-decoration: none;
            color: #fff;
        }
        .half-width {
            width: 50%;
            .endTitle {
                padding-top: 4rem;
                padding-bottom: 0.75rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                img {
                    padding: 0.75rem 0.75rem 0.75rem 0;
                }
                h2 {
                    padding-top: 1.25rem;
                    font-size: var(--primary-font-family);
                    font-weight: 700;
                    font-style: normal;

                }
            }
            .contact {
                padding-bottom: 1.25rem;
                font-family: var(--secondary-font-family);
                img {
                    padding-right: 0.5rem;
                }
                li {
                    padding: 0.75rem 0;
                }
            }
            li {
                list-style: none;
                font-family: var(--secondary-font-family)
            }
        }
        .flex-row {
            display: flex;
            flex-direction: row;
            padding: 4rem 0 1.25rem 1rem;
            div {
                width: 250px;
                height: 168px;
            }
            h2 {
                font-family: var(--primary-font-family);
                font-style: normal;
                font-size: 700;
                font-size: 17px;
                line-height: 26px;
            }
            li {
                padding-top: 1rem;
            }
        }
    }
    .credit {
        border-top: 1px solid #fff;
        padding-top: 1.75rem;
        font-family: var(--primary-font-family);
        font-style: normal;
        p {
            font-weight: 400;
            font-size: 17px;
            line-height: 26px;
        }
    }
}

    








